h1 {
	font-family: Impact; 
}
body{
  background-color: darkgrey;
}
.boxPageTitle{
    padding: 100px; /*gives space above and below whatever is in "box" class*/
    margin: 0px; /*gives no extra space above or below (first 0px),
  to the right (2nd 0px), to the bottom of (3rd 0px), nor to the left (last 0px)
  of whatever is inside the "box" class*/
    text-align: center; 
    background-image: url(img/baseball-player.jpg);
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: contain;/*fills whole space, makes sure entire image seen*/
    background-position: center;
    color: darkgrey;
    background-color: white
}
.smallHeader{
	color: red;
	font-family: Times; 
}
.teamName{
	color: Orange;
	font-family: Comic Sans MS;
	font-weight: bold;
}
a.button{
	background-color: #6ea9b5; /* Green */
  	border: none;
  	color: white;
  	padding: 15px 32px; /* Padding is the first space surrounding the button */
  	text-align: center; /*allign the text to the center of button */
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 25px; /* Makes rounded corner */
    width: 85px
}
a.button:hover{
background-color: darkslategrey /*button changes to this color when arrow hovers over it*/
}
a.button:active{
font-size: 10px; /*font size smaller*/
transform: translateY(4px); /*button moves down*/
width: 75px/*button becomes smaller*/
}

